function Main.pipeShift 5
push constant 0
push argument 0
add
pop pointer 1
push that 0
pop local 4
push local 4
call Pipe.getX 1
pop local 1
push local 1
call Pipe.getWidth 0
add
pop local 2
push local 2
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 1
sub
push argument 0
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
pop local 0
label WHILE_EXP0
push local 0
push argument 1
lt
not
if-goto WHILE_END0
push local 0
push constant 1
sub
push argument 0
add
push local 0
push argument 0
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 4
push local 1
push static 0
call Pipe.getWidth 0
add
push argument 1
call Math.multiply 2
add
call Pipe.reset 2
pop temp 0
push argument 2
call Main.drawScore 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Main.move 2
push constant 0
pop local 0
push argument 0
call Bird.moveBird 1
pop temp 0
push argument 0
call Bird.drawBird 1
pop temp 0
push static 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push argument 2
push argument 3
call Main.pipeShift 3
pop temp 0
label WHILE_EXP0
push local 0
push argument 2
lt
not
if-goto WHILE_END0
push local 0
push argument 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Pipe.movePipe 1
pop temp 0
push local 1
call Pipe.drawPipe 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop static 1
label IF_FALSE0
push constant 0
return
function Main.checkCollisions 4
push argument 1
call Pipe.getHeight 1
pop local 2
push argument 1
call Pipe.getX 1
pop local 0
push local 0
call Pipe.getOpenSpace 0
add
pop local 1
push local 2
call Pipe.getOpenSpace 0
add
pop local 3
push argument 0
call Bird.getX 1
push local 0
gt
push argument 0
call Bird.getX 1
push local 1
lt
and
push argument 0
call Bird.getY 1
push local 3
gt
push argument 0
call Bird.getY 1
push local 2
lt
or
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Main.checkPipeCleared 0
push argument 0
call Bird.getX 1
push argument 1
call Pipe.getX 1
gt
push argument 1
call Pipe.getCleared 1
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push constant 0
not
call Pipe.setCleared 2
pop temp 0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Main.drawScore 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 99
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 0
return
function Main.main 11
push constant 10
pop local 2
push constant 160
pop static 0
push constant 0
not
pop local 5
push constant 5
pop local 3
push constant 0
pop local 4
push constant 0
pop local 6
push constant 75
push constant 100
push constant 10
call Bird.new 3
pop local 1
push local 3
call Array.new 1
pop local 0
call Pipe.init 0
pop temp 0
label WHILE_EXP0
push local 6
push local 3
lt
not
if-goto WHILE_END0
push constant 480
push static 0
call Pipe.getWidth 0
add
push local 6
call Math.multiply 2
add
pop local 8
push local 6
push local 0
add
push local 8
call Pipe.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 6
push constant 1
add
pop local 6
goto WHILE_EXP0
label WHILE_END0
label WHILE_EXP1
push local 5
not
if-goto WHILE_END1
push local 1
push local 0
push local 3
push local 4
call Main.move 4
pop temp 0
push local 1
push constant 0
push local 0
add
pop pointer 1
push that 0
call Main.checkCollisions 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 5
label IF_FALSE0
push local 1
push constant 0
push local 0
add
pop pointer 1
push that 0
call Main.checkPipeCleared 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 4
push constant 1
add
pop local 4
push local 4
call Main.drawScore 1
pop temp 0
label IF_FALSE1
push static 1
push constant 1
add
pop static 1
push constant 200
call Sys.wait 1
pop temp 0
goto WHILE_EXP1
label WHILE_END1
push constant 10
push constant 32
push constant 100
call Math.multiply 2
add
call GameOver.draw_title_gameover 1
pop temp 0
push local 4
call Main.drawScore 1
pop temp 0
push local 0
call Array.dispose 1
pop temp 0
push local 1
call Bird.dispose 1
pop temp 0
push constant 0
return
