function Main.main 3
push constant 100
pop local 0
push constant 100
pop local 1
push constant 40
pop local 2
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
push local 1
push constant 30
call Screen.drawCircle 3
pop temp 0
call Screen.clearScreen 0
pop temp 0
push local 0
push local 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
