function Pipe.new 1
push constant 2
call Memory.alloc 1
pop pointer 0
call Random.new 0
pop local 0
push argument 0
pop this 0
push local 0
push constant 42
call Random.generate 2
pop argument 1
push constant 40
pop static 0
push constant 10
pop static 1
push constant 90
pop static 2
push pointer 0
return
function Pipe.movePipe 0
push argument 0
pop pointer 0
push this 0
push static 1
sub
pop this 0
push constant 0
return
function Pipe.getX 0
push argument 0
pop pointer 0
push this 0
return
function Pipe.getHeight 0
push argument 0
pop pointer 0
push this 1
return
function Pipe.getWidth 0
push static 0
return
function Pipe.getStep 0
push static 1
return
function Pipe.drawPipe 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push static 0
add
push constant 255
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 0
push this 0
push static 0
add
push this 1
push static 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push constant 0
return
function Pipe.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
