function Pipe.init 0
push constant 30
pop static 0
push constant 10
pop static 1
push constant 90
pop static 2
call Random.new 0
pop static 3
push constant 0
return
function Pipe.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push static 3
push constant 33
call Random.generate 2
push constant 256
push constant 2
push static 2
call Math.multiply 2
sub
call Random.mod 2
push static 2
add
pop this 1
push pointer 0
return
function Pipe.movePipe 0
push argument 0
pop pointer 0
push this 0
push static 1
sub
pop this 0
push constant 0
return
function Pipe.getX 0
push argument 0
pop pointer 0
push this 0
return
function Pipe.addSpace 0
push argument 0
pop pointer 0
push this 0
push argument 1
add
pop this 0
push constant 0
return
function Pipe.getHeight 0
push argument 0
pop pointer 0
push this 1
return
function Pipe.getWidth 0
push static 0
return
function Pipe.getStep 0
push static 1
return
function Pipe.drawPipe 1
push argument 0
pop pointer 0
push this 0
push constant 0
gt
push this 0
and
push constant 511
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push constant 0
call Math.max 2
push constant 255
push this 1
sub
push this 0
push static 0
add
push constant 511
call Math.min 2
push constant 255
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 0
call Math.max 2
push constant 0
push this 0
push static 0
add
push constant 511
call Math.min 2
push constant 255
push this 1
sub
push static 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 0
push static 0
add
pop local 0
push local 0
push constant 511
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
call Screen.setColor 1
pop temp 0
push local 0
push constant 0
call Math.max 2
push constant 255
push this 1
sub
push local 0
push static 0
add
push constant 511
call Math.min 2
push constant 255
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 0
call Math.max 2
push constant 0
push local 0
push static 0
add
push constant 511
call Math.min 2
push constant 255
push this 1
sub
push static 2
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push constant 0
return
function Pipe.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
